nav{
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: darkgray;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 70px;


}
nav ul,li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
/* .dark-nav{
    background: #325577;
    transition: 0.5s ease-in;
    transition: 0.5 ease-out;
} */
.menu-icon{
    display: none;
}
/*Media*/
@media (max-width : 1000px){
    .logo{
        /* width: 140px; */
    }
    nav ul li {
        margin: 10px 15px;
    }
}
@media (max-width : 840px){
    nav{
        padding: 15px 0px;
    }
    nav ul{
        position: fixed;
        top: -20px;
        right: -20px;
        bottom: -20;
        background: #325577;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        padding-bottom: 100%;
        transition: 0.5s;

    }
    nav ul li{
        display: block;
        margin: 30px 40px;
    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        right: -220px;
    }
}
/* @media only screen and (max-width : 840px){
    
    nav{
        padding: 15px 15px;
        
    }
    
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        background-color: transparent;
        backdrop-filter: blur(250px);
        color: #325577;
        background: #325577;
        z-index: -1;
        width: 710px;
        height: 100px;
        padding-top: 70px;
        padding-bottom: 100%;
        transition: 0.5s;

    }
    nav ul li{
        display: block;
        margin: px 40px;
    }
} */